<div class="card">
  <h5 class="card-header">Game Info</h5>
  <div class="card-body">
    <h4 class="card-title">{{game.title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{game.year}}</h6>
    <p class="card-text">
      {{#if game.publisher}}
      Publisher: {{game.publisher}}</br>
      {{/if}}

      {{#if game.minplayers}}
      {{#if game.maxplayers}}
      Players: {{game.minplayers}} - {{game.maxplayers}}</br>
      {{/if}}
      {{/if}}
      {{#if game.minage}}
      Age: {{game.minage}}+</br>
      {{/if}}
      {{#if game.playtime}}
      Avg Play Time: {{game.playtime}} minutes</br>
      {{/if}}
    </p>
    {{#if game.bggid}}
    <p>
      {{{game.description}}}<br><br>
      Learn more about {{game.title}} at  
    <a href="https://www.boardgamegeek.com/boardgame/{{game.bggid}}" class="card-link" target="bgg">BoardGameGeek.com</a>
    </p>
    {{/if}}

  </div>
</div>

<div class="card">
  <h5 class="card-header">Photos</h5>
  <div class="card-body">
    {{#if game.image}}
    	<img src="{{game.image}}" height="200" title="{{game.title}}">
    {{/if}}
  </div>
</div>
